JAEGER_AGENT_ADDRESS=YOUR_VALUE_HERE
JAEGER_COLLECTOR_URL=YOUR_VALUE_HERE
JAEGER_FLUSH_INTERVAL=YOUR_VALUE_HERE
OTEL_SERVICE_NAME=YOUR_VALUE_HERE
OTEL_HTTP_ADDRESS=YOUR_VALUE_HERE
OTEL_GRPC_ADDRESS=YOUR_VALUE_HERE
OTEL_SECURE=YOUR_VALUE_HERE
OTEL_SAMPLING_ENABLED=YOUR_VALUE_HERE
OTEL_SAMPLING_RATIO=YOUR_VALUE_HERE
CONNECT_HTTP_PORT=YOUR_VALUE_HERE
CONNECT_HOST=YOUR_VALUE_HERE
REDPANDA_CONNECT_IMAGE=YOUR_VALUE_HERE
SKIP_DOCKER=YOUR_VALUE_HERE